<div class="container p-6 flex lg:flex-nowrap  flex-wrap items-center gap-16 ">
    <div class="info ">
      <h2 class="text-2xl mb-4 font-bold text-blackColor">Hello, my name is <span class="text-primary text-base custom-font">ibrahim mohamed</span></h2>
      <h4 class="text-lg mb-2 font-semibold" >I'm a 
        <ngx-typewriter
        [words]="words"
        [typeSpeed]="100"
        [deleteSpeed]="100"
        [panelClass]="'text-primary font-bold'"
      />
      </h4>
      <p class="font-medium mb-4 ">
        I'm a dedicated web developer with over 2 years of experience  building dynamic and user-friendly web applications. My expertise lies in  <span class="text-primary font-bold">Angular & Nodejs</span>  I've successfully led projects from conception to deployment, delivering solutions that exceed client expectations
      </p>

      <button class="bg-primary text-customWhite py-2 px-4 flex items-center gap-2 rounded-md">
        <i class="fi fi-sr-cloud-download-alt"></i>
        <span>Download CV</span>
      </button>
    </div>

    <div class="image relative">
      <span class="corner corner-top border-t-primary border-r-primary "></span>
      <img class="w-full" src="assets/images/hema.png" alt="">
      <span class="corner border-b-primary border-l-primary corner-bottom"></span>
    </div>
</div>