<div class="container p-12 grid ">
  <div class="head pr-8 mb-6">
    <h2 class="text-3xl font-bold mb-6 relative">About Me</h2>
    <p class="font-medium mb-2">
      I am <span class="text-primary font-semibold ">Ibrahim Mohamed Tawfik</span>, a web developer with a Bachelor's degree in Computer Science and Information Systems from King Mariout University in Alexandria, I have cultivated a strong foundation in computer science. My expertise lies in crafting dynamic web applications leveraging the Angular framework.
    </p>
    <p class="font-medium mb-2">
      With a year of dedicated experience in front-end development, I have sharpened my ability to design and implement dynamic web applications. Proficient in both Angular and Node.js, I am capable of delivering end-to-end solutions that align with client requirements.
    </p>

    <p class="font-medium mb-2">
      Driven by a passion for continuous learning and innovation, I thrive on projects that push my technical boundaries. A strong advocate for collaboration, I enjoy working in teams to achieve shared objectives.
    </p>
  </div>


  <div class="cards grid grid-cols-12 gap-12">
    <div class="time_experince bg-white border-2  p-4 rounded-md border-border_light  col-span-6 justify-start ">
      <div class="head mb-4">
        <h2 class="text-2xl font-bold">Experince</h2>
      </div>
      <div class="time_line">
             <p-timeline [value]="events" align="left">
        <ng-template pTemplate="content" let-event>
          <div class="flex items-center gap-4 mb-2">
            <span>From: {{event.startDate}}</span>
            <span>To: {{event.endDate}}</span>
          </div>
          <div class="mb-6">
            <h4 class="mb-2 font-bold">{{event.companyName}}</h4>
            <h6 class="mb-2 font-semibold">{{event?.title}}</h6>
            <h5>Summary:</h5>
            @for( pro of event.sumary ; track pro; ){
              <p>{{pro.desc}}</p>
              <ul class="features-list pl-6">
                @for(feature of pro.features ; track feature){
                  <li class="text-sm">{{feature}}</li>
                }
              </ul>
            }
            <div>

            </div>
          </div>
        </ng-template>
      </p-timeline>
      </div>
    </div>
    <div class="time_experince bg-white border-2  p-4 rounded-md  border-border_light col-span-6 justify-start ">
      <div class="head mb-4">
        <h2 class="text-2xl font-bold">Education</h2>
      </div>
      <div class="time_line">
             <p-timeline [value]="eventsEducation" align="left">
        <ng-template pTemplate="content" let-event>
          <div class="flex items-center gap-4 mb-2">
            <span>From: {{event.startDate}}</span>
            <span>To: {{event.endDate}}</span>
          </div>
          <div class="mb-6">
            <h4 class="mb-2 font-bold">{{event.companyName}}</h4>
            <h6 class="mb-2 font-semibold">{{event?.title}}</h6>
            <h5>Summary:</h5>
            @for( pro of event.sumary ; track pro; ){
              <p>{{pro.desc}}</p>
              <ul class="features-list pl-6">
                @for(feature of pro.features ; track feature){
                  <li class="text-sm">{{feature}}</li>
                }
              </ul>
            }
            <div>

            </div>
          </div>
        </ng-template>
      </p-timeline>
      </div>
    </div>
  </div>

</div>
