.app-layout__sidebar-open {
  float: right;
  @apply w-full sm:w-[calc(100%-235px)];

  .app-layout__sidebar {
    @apply w-[235px] left-0 hidden sm:block;
  }
}

.app-layout__sidebar-closed {
  @apply w-full sm:w-[calc(100%-100px)];
  float: right;

  .app-layout__sidebar {
    @apply w-[100px] left-0 hidden sm:block;
  }
}

.app-layout__sidebar {
  z-index: 15;
  @apply fixed left-0 top-0 h-full
}

.app-layout__sidebar___open-close-icon {
  @apply border-2  rounded-full transition-all;
  position: absolute;
  right: -.75rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

}



// .app-layout__sidebar-over{
//   display: block !important;
// }


@media screen and (max-width:640px) {
  .app-layout__sidebar___open-close-icon-wrap {
    display: none !important;
  }

  .app-layout__sidebar {
    width: 50% !important;
  }

    // .over {
    //   display: block;
    // }

}

@media screen and (min-width:640px) {
  .app-layout__sidebar___open-close-icon-wrap {
    display: block !important;
  }


.over{
    display: none;
}
  .app-layout__sidebar {
    left: 0 !important;
    // width: 50% !important;
  }
}

.app-layout__sidebar-back-overlay {
  position: fixed;
  inset: 0;
  z-index: 14;
  background-color: rgba(0, 0, 0, 0.211);
}


@media screen and (max-width:470px) {
  .app-layout__sidebar {
    width: 100% !important;
  }

  .app-layout__main-content__inner-pages {
    padding: 1rem .25rem;
  }

}

.mode{
  background-color: white;
}
