// .container{
//   background-color: white;
// }
.corner{
  width: 1rem;
  height: 1rem;
  display: block;


  position: absolute;
}

.corner-top{
      right: -.25rem;
        border-width: .25rem .25rem 0 0;
        top: 0;
}
.corner-bottom{
  bottom: 0;
  left: -.25rem;
    border-width:0 0 .25rem .25rem;
}

.head h1{
    font-family: "Playwrite CU", cursive;
}

nav ul li{
  padding: 1rem 1.5rem;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom:1px solid #E1E8EC;
  margin-bottom: .5rem;
  cursor: pointer;
}



.active{
  @apply text-primary;
    border-bottom: 1px solid #006CB5 !important;
}
