<div class="container  h-full flex flex-col  justify-start gap-12  ">
  <div class="head relative mt-16 p-4 h-fit w-fit mx-auto">
    <span class="corner corner-top  border-t-primary border-r-primary "></span>
    <h1 class="text-2xl font-bold">Ibrahim</h1>
    <span class="corner corner-bottom  border-b-primary border-l-primary "></span>
  </div>
  <nav>
    <ul>
      <li>
        <i class="fi fi-sr-home"></i>
        <a class="text-lg font-medium" href="">Home</a>
      </li>
      <li>
        <i class="fi fi-sr-user"></i>
        <a class="text-lg font-medium" href="">About</a>
      </li>
      <li>
        <i class="fi fi-bs-list-check"></i>
        <a class="text-lg font-medium" href="">Service</a>
      </li>
      <li>
        <i class="fi fi-sr-briefcase"></i>
        <a class="text-lg font-medium" href="">Portfolio</a>
      </li>
      <li>
        <i class="fi fi-sr-comments"></i>
        <a class="text-lg font-medium" href="">Contact</a>
      </li>
    </ul>
  </nav>
</div>
