/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primaryColor: 0 108 181;
  --borderLightColor: 225 232 236;
  --bg-custom-white:245 245 245;
  --blackColor:  24 47 62;
}

.custom-font{
  font-family: "Playwrite CU", cursive;
}