/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

:root {
  --primaryColor: 0 108 181;
  --borderLightColor: 225 232 236;
  --bg-custom-white:245 245 245;
  --blackColor:30 32 30;
  --darkBlack: 30 32 30;
  --borderDarkColor:60 61 55;
}

.custom-font{
  font-family: "Playwrite CU", cursive;
}
